/* Basic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Figtree', sans-serif;
}
/* Header */
header {
    background-color: #11103f;
    padding: 5px;
    position: sticky;
    top: 0;
    max-height: 80px;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

.SUSTEC-logo{
    padding: 0px 20px 0px 20px;
}

header .SUSTEC-logo img {
    max-width: 200px; /* Adjust logo size */
    max-height: 100px;
    height: auto;      /* アスペクト比を保ったまま高さを自動調整 */
    transition: opacity 0.3s ease, filter 0.3s ease; /* 滑らかなホバーとフィルターの効果 */
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute; /* 追加 */
    right: 20px; /* 追加 */
    top: 10%; /* 追加 */
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    position: relative; /* 親要素にrelativeを指定 */
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    color: white;
}
/* Dropdown menu styles */
nav ul li.dropdown:hover > .dropdown-menu {
    display: block;
}

nav ul li a {
    color: #333;
    padding: 10px;
    transition: opacity 0.3s ease, filter 0.3s ease; /* 滑らかなホバーとフィルターの効果 */
}

nav ul li a:hover {
    opacity: 0.7; /* Add hover effect */
}

/* Dropdown submenu (hidden by default) */
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 180px;
    z-index: 1;
}
.dropdown-menu li {
    margin: 0;
}
.dropdown-menu li a {
    padding: 10px;
    color: white;
    display: block;
}
.dropdown-menu li a:hover {
    background-color: #00438f;
}

/*-----------------*/
/*  Main Section   */
/*-----------------*/

/*------------------------------*/
/*  Use case Section            */
/*------------------------------*/
.UC-content {
    height: 300px;
    background-image: url("images_usecase/usecase_title.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.UC-content h2 {
    font-size: 44px;
    color: white;
    padding: 100px 100px 20px 100px;
    font-weight: bold;
    text-align: center; /* Center align the logos */
}

.UC-content p {
    font-size: 28px;
    color: white;
    text-align: center; /* Center align the logos */
}

/*------------------------------*/
.UC {
    display: flex;
    justify-content: center; /* 水平方向に中央寄せ */
    align-items: center; /* 垂直方向に中央寄せ */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    height: 400px;
}
.UC{
    transition: opacity 3s, transform 3s;
    transform: translateY(0.1px);
    opacity: 0.0;
}
.UC.visible {
    opacity: 1;
    transform: translateY(0);
    background-color: white;
}

.UC:nth-child(2n-1){
    flex-direction: row-reverse;
    background-color: #e0e0e0;
}

/*------------------------------*/
.UC-img-cont{
    width: 400px;
    height: auto;
}
.UC-img-cont h2 {
    font-size: 24px;
    color: rgb(112, 150, 255);
    padding: 0px 0px 10px 0px; /* Add some space between the heading and logos */
    font-weight: bold;
}

.UC-img-cont ul li {
    font-size: 16px;
    color: white;
    padding: 20px 0px 10px 0px; /* Add some space between the heading and logos */
    word-wrap: break-word;
}
.UC-img-cont p{
    font-size: 14px;
    color: white;
    padding: 0px 0px 5px 0px; /* Add some space between the heading and logos */
    word-wrap: break-word;
}

.UC-img img{
    max-width: 450px; /* Adjust logo size */
    height: auto;      /* アスペクト比を保ったまま高さを自動調整 */
    transition: opacity 0.3s ease, filter 0.3s ease; /* 滑らかなホバーとフィルターの効果 */
    border-radius: 3%;
}

.UC-img03 img{
    max-width: 650px; /* Adjust logo size */
    height: auto;      /* アスペクト比を保ったまま高さを自動調整 */
    transition: opacity 0.3s ease, filter 0.3s ease; /* 滑らかなホバーとフィルターの効果 */
}
 .UC-img:hover {
    filter: grayscale(0%);  /* ホバー時にカラーに戻す */
    opacity: 0.7; /* Add hover effect */
}

/*------------------------------*/
.UC:nth-last-child(4){ /* To select 1st item: O&G*/
    height: 1000px; 
    background-image: url("images_usecase/usecase_oilandgas_back.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}
/*------------------------------*/
.UC:nth-last-child(3){ /* To select 2nd item: Geothermal*/
    height: 800px; 
    background-image: url("images_usecase/usecase_geothermal_back.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

/*------------------------------*/
.UC:nth-last-child(2){ /*To select 3rd item: CCS*/
    height: 800px; 
    background-image: url("images_usecase/usecase_ccs_back.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

/*------------------------------*/
.UC:last-child{ /*To select 4th item: Critical Mineral*/
    height: 800px; 
    background-image: url("images_usecase/usecase_criticalmineral_back.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center; 
}

.UC-img05 img{
    max-height: 450px; /* Adjust logo size */
    height: auto;      /* アスペクト比を保ったまま高さを自動調整 */
    transition: opacity 0.3s ease, filter 0.3s ease; /* 滑らかなホバーとフィルターの効果 */
}


/*------------------------------*/
/*---------- Footer ------------*/
/*------------------------------*/
/* Footer */
footer {
    background-color: #11103f;
    /*background-color: rgb(223, 222, 222);*/
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* Media Queries for Responsive Design */
/*------------------------------------ */
/* ----------------------------------- */


@media (max-width: 768px) {
    
    /* Header modification*/
        header {
            background-color: #11103f;
            color: #fff;
            padding: 10px 0 10px 0;
        }
        .menu-icon {
            display: block;
        }
        .dropdown-menu {
            display: none;
          }
        .dropdown:hover .dropdown-menu {
            display: none;
          }
    
        .nav {
            background-color: #11103f;
            height: auto;
        }
        .nav-links {
            display: none;
            flex-direction: column;
            width: auto;
            background-color: #11103f;
            position: absolute;
            top: 45px;
            right: 10px;
            height: 0; /* 追加 */
            overflow: hidden; /* 追加 */
            transition: height 0.3s ease; /* 追加 */
        }
    
        .nav-links li {
            text-align: center;
            margin: 10px 0;
        }
    
        .nav-links a {
            padding: 10px;
        }
    
        .nav-links.active {
            display: flex;
            height: auto; /* 追加：全画面の高さに設定 */
        }

    /* Main part modification*/
        .UC-content h2{
            font-size: 28px;
            padding: 100px 0px 20px 0px;
        }
        .UC-content p{
            font-size: 20px;
            padding: 0px 5px 0px 5px;
        }
        .UC {
            padding: 50px 0 50px 0;
            height: 1000px;
            gap: 10px;
            justify-content: center;
            align-items: center; 
        }
        
        .UC-img img{
            width: 60%;
            margin: 0px 50px 0px 50px;   
        }
        .UC-img-cont h2 {
            font-size: 20px;
            margin: 0px 0px 5px 20px;   
        }
        .UC-img-cont ul li{
            font-size: 14px;
            margin: 0px 0px 5px 20px;   
        }
        .UC-img-cont ul p{
            font-size: 14px;
            margin: 0px 0px 5px 20px;   
        }
    
        .UC:nth-last-child(3){ /*To select 3rd item: CCS*/
            height: 120vh;
        }

        .UC:nth-last-child(2){ /*To select 3rd item: CCS*/
            height: 120vh;
        }
    
    
    }